ul{
    width: 500px;
   margin: 10px auto;
   padding: 15px;
   background-color: rgb(159, 141, 175);
   border: 1px solid green;
}
li{
    list-style: none;
    border: 1px solid green;
    padding: 8px;
    margin: 5px;
}

.title{
    text-align: center;
    border: 2px solid green;
}
.marks input{
    width: 50px;
}
  .showblock{
    display: none;
}